<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/gif" href="images/favicon.png">
  <title>Red Oak Landscaping Inc</title>
  <link rel="stylesheet" href="css/style.css">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-95LLZXZ5YR"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-95LLZXZ5YR');
  </script>

</head>

<body>
  <div class="wrapper">
    <header>
      <a href="/"><img id="logo" src="images/logo.png" alt="Red Oak Landscaping Inc."></a>
      <nav>
        <a href="/">Home</a>
        <a href="/gallery">Photo Gallery</a>
        <a href="/services">Services</a>
        <a href="/estimate">Free Estimate</a>
        <a href="/login">Log In</a>
      </nav>
    </header>
    <p id="galleryTitle">Free Estimate</p>
    <main id="estimateMain">
      <form>
        <!--method="POST" action="email" -->
        <p id="formResponse">{{formResponse}}</p>
        <input type="text" name="name" placeholder="Name" class="textarea" id='name' value={{name}}>
        <input type="text" name="email" placeholder="Email" class="textarea" id='email' value={{email}}>
        <input type="text" name="phone" placeholder="Phone" class="textarea" id='phone' value={{phone}}>
        <input type="text" name="address" placeholder="Address" class="textarea" id='address' value={{address}}>
        <input type="text" name="city" placeholder="City" class="textarea" id='city' value={{city}}>
        <input type="text" name="state" placeholder="State" class="textarea" id='state' value={{state}}>
        <input type="text" name="zip" placeholder="Zip Code" class="textarea" id='zip' value={{zip}}>
        <input type="text" name="msg" placeholder="msg" class="spamMsg" id="spamMsg">
        <textarea name="message" placeholder="Comments" class="textarea" id='message'>{{message}}</textarea>
        <button type="submit">Get Your Estimate</button>
      </form>
    </main>
    <footer>
      <a href="/"> <img class="footerImg" src="images/home.png" alt="Home"></a>
      <a href="/gallery"><img class="footerImg" src="images/picture.png" alt="Photo Gallery"></a>
      <a href="/services"><img class="footerImg" src="images/wrench.png" alt="Services"></a>
      <a href="/estimate"><img class="footerImg" src="images/calculator.png" alt="Free Estimate"></a>

      <div class="footerContact">
        <div class="footerContact__copyrightContainer">
          <p id="footCopyright">Copyright © 2020 Red Oak Landscaping Inc.</p>
        </div>
        <div class="footerContact__contactContainer">
          <p class="footContact" id="footAddress">403 North 6th Street, Denver PA, 17517</p>
          <p class="footContact" id="footPhone">Phone: 717 336 6318 / Fax: 717 336 4998</p>
        </div>
      </div>
    </footer>
  </div>

  <script src="js/estimate.js"></script>
</body>

</html>